# Supabase 프로젝트 API 접속 설정
VITE_SUPABASE_URL=https://yoajmckkrpgvcljrffww.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_dGhcuP6U2Qa9OaTlNOzrQg_yNU34WfL

# Metered TURN Server 연동 설정
VITE_METERED_APP_NAME=chessalkkagi
VITE_METERED_API_KEY=YOUR_METERED_API_KEY
